body {
    margin: 0;
}

/* input styles */

.textfield {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

/* css item */
.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* items layout */
.align-center {
    display: flex;
    flex-direction: column;
}

.dashboard-item {
    border: 1px solid #000000;
    border-radius: 5%;
    width: 15rem;
    height: 15rem;
}

/* page layout */
.page-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}