.form-create-account {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.form-detail-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-filter-user {
    display: flex;
    width: 100%;
    align-items: end;
    padding: 0;
}

.filter-wrapper {
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

.filter-header {
    display: flex;
    justify-content: space-between;
}

.filter-footer {
    display: flex;
    justify-content: end;
}