.filter-wrapper {
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

.filter-header {
    display: flex;
    justify-content: space-between;
}

.filter-footer {
    display: flex;
    justify-content: end;
}